body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .9em;
}

nav a:hover {
    background-color: #444444;
    border-radius: 10px;
}

.sign-up-page {
  background-color: goldenrod;
  padding: 15px;
}

#submit {
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 3px 2px 10px;
    text-transform: uppercase;
    background-color: darkgoldenrod;
    }

@media (min-width: 300px) and (max-width: 500px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: gray;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .container > img {
        position: static;
        margin-top: 54px;
        width: 70%;
    }

    #submit {
        margin-top: 20px;
    }
}
