.nav-list {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid white;
}

nav a:hover {
    background-color: #444444;
    border-radius: 10px;
}

@media (min-width: 375px) and (max-width: 500px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
        background-color: gray;
        margin: 0;
        padding: 0;
    }


}

/* 

img {
  width: 100px;
  height: auto;
}

.sign-up-page {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  text-align: center;
  margin: 20px;
} */